{% extends "base.html" %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <strong>New!</strong> Check-out this cool <a href="/prime">prime generator</a>!
    </div>
    <h1 class="jumbotron-heading">Cats</h1>
    <p class="lead text-muted">Look! A cat!</p>

    <img id="cat" src="https://cataas.com/cat" class="img-fluid" alt="Responsive image">

    <input type="submit" value="Refresh" onClick="updateImage()" />

    <script>
        var image = document.querySelector("#cat");
        function updateImage()
        {
            image.src = "https://cataas.com/cat?" + new Date().getTime();
            console.log("test");
        }
     </script>

{% endblock %}
